.titulo-principal{
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}

.subtitulo{
    margin-bottom: 30px;
    margin-left: 1em;

}

.adotantes ul{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.adotantes p{
    text-align: center;
    margin-bottom: 30px;
}

.foto_adotantes{
    width: 220;
    height: 220;
}

.adotantes2{
    margin-top: 20px;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.adotantes2 li{
    margin-top: 20px;
}


@media(max-width:991px){
    .adotantes ul{
        display: flex;
        flex-direction: column; }

        .subtitulo{
            text-align: center;
        }

        .adotantes2 li{
            text-align: center;
            list-style-type: none;
        }
}