header{
   position: fixed;    /* position: fixed;*/
    top: 0; left: 0; right: 0;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 0px 7%;  /* colocar 20px 7%*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
     /*   width: 230px; height: 2.667em width: 170px;  */
    width: 120px;
}

.cabecalho_navegacao ul{
    list-style: none;
}

.cabecalho_navegacao ul li{
    position: relative;
    float: left;
}

.cabecalho_navegacao ul li a{
    font-size: 17px; /*estava 20*/
    padding: 20px;
    color: #333;
    display: block;
}

.cabecalho_navegacao ul li a:hover{
   background: #63BF7A;  /*  #333 */
   color: #fff;
   border-radius: 5px;
}

.cabecalho_navegacao ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

.cabecalho_navegacao ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
}

.cabecalho_navegacao ul li ul li ul{     /* Talvez não precise */
    left: 200px;
    top: 0;
}

.cabecalho_navegacao ul li:focus-within > ul,
.cabecalho_navegacao ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

@media(max-width:991px){
    header{
        padding: 20px;
    }

    header label{
       display: initial;
    }

    header .cabecalho_navegacao{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
        
    }

    header .cabecalho_navegacao ul li{
        width: 100%;  
    }

    header .cabecalho_navegacao ul li ul{
        position: relative;
        width: 100%; 
    }

    header .cabecalho_navegacao ul li ul li{
        background: #eee;
    }

    header .cabecalho_navegacao ul li ul li ul{
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .cabecalho_navegacao{
        display: initial;
    }
}

