.titulo{
    
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    margin-left: 1em;
    margin-right: 1em;

}

.simbololink{
    margin-top: 30px;
}

main{
    margin-bottom: 10%;
}

main p{
    text-align: justify;
    line-height: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}